@using NzbDrone.Web.Helpers
@{ViewBag.Title = "Add Series";}

@section HeaderContent
{
    @Html.IncludeCss("AddSeries.css")
}

@{Html.RenderAction("RootDir");}
<div class="jquery-accordion jquery-accordion-collapse-all" id="addSeriesAccordion">
    <h3>
        <a href="#">Add New Series</a></h3>
    <div id="addNewSeries">
        @{ Html.RenderAction("AddNew", "AddSeries"); }
    </div>
    <h3>
        <a href="#">Add Series Already on Disk</a></h3>
    <div id="existingSeries">
        <img src="../../Content/Images/ajax-loader.gif" />

        @Ajax.RenderAction(
                               "ExistingSeries",
                               "AddSeries",
                               null,
                               new AjaxOptions { UpdateTargetId = "existingSeries", InsertionMode = InsertionMode.Replace }
                           )
    </div>
</div>

@section Scripts
{
    @Html.IncludeScript("NzbDrone/addSeries.js")

    <script type="text/javascript">
        $(document).on('click', '.tvDbLink', function (event) {
            var url = $(this).attr('rel');
            window.open(url, 'thetvdb');
            event.preventDefault();
        });
    </script>
}